body{
    margin: 0;
    color: #fff;
}

*,*:before,*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}


/* HEADER */


.header{
    width: 100%;
    height: 670px;
    margin: 0 auto;
    background: url(../images/intro.jpg) center no-repeat;
}

a{
    text-decoration: none;
}

/* NAVBAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}


.text-header-logo{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: top;
    color: #fff;
    transition: color 0.3s linear;

}

.text-header-logo:hover{
    color: #00e0d0;
}

.nav{
    font-size: 13px;
    text-transform: uppercase;
}

.nav-link{
    color: #ffffff;
    transition: color 0.3s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}

.nav-link:hover{
    color: #00e0d0;
}

/* HEADERMAIN */

.header-main{
    width: 100%;
    max-width: 800px;
    margin: 130px auto;
    text-align: center;
}

.h1-hm{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 32px;
    text-transform: capitalize;
}

.h1-hm::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    margin: 20px auto;
}

.h2-hm {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px; 
}

.btm {
   display: inline-block;
   vertical-align: top;
   border: 1px solid #00e0d0;
   padding: 7px 12px;
   color:#00e0d0;
   text-transform: uppercase;
   font-family: 'Hammersmith One', sans-serif;
   font-size: 16px;
   font-weight: 400;
   margin: 40px auto;
   transition: border-color 0.3s linear, color 0.3s linear;
}

.btm:hover{
    color: #fff;
    border-color: #fff;
}

/* DOT-и */

.header-footer{
    margin: 10px auto;
    text-align: center;
}

.dot{
    height: 12px;
    width: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
}


/* MAIN */



/* Story */
.ourstory{
    width: 100%;
    max-width: 960px;
    height: 400px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-ourstory{
    margin: 50px 50px;
}

.text-our{
    text-align: left;
    margin: 50px 50px;
}

.tittle-our{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 22px;
}

.subtittle-our{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 14px;
}

.our-btm{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #00e0d0;
    padding: 7px 12px;
    color:#00e0d0;
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 50px auto;
    transition: border-color 0.3s linear, color 0.3s linear;
}

.our-btm:hover{
    color: black;
    border-color: black;
}

/* OURVIDEO */

.ourvideo{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 550px;
    width: 100%;
    background: url(../images/ourvideo.jpg) center no-repeat;
}

.play-logo{
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
    transition: 0.3s linear;
}

.play-logo:hover{
    stroke: #00e0d0;
}

.btm-video{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s linear;
    margin: 20px auto;
}

.btm-video:hover{
    color: #00e0d0;
}


/* EXPERTISE */

.expertise{
    margin: 0 auto;
}

.header-expertise{
    text-align: center;
    margin: 40px auto;
}

.expertise-item1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.expertise-item2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 270px;
}

.title{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin: 20px auto;
}

.sub-title{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin: 20px auto;
}

.sub-title::after{
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color:black;
    margin: 20px auto;
}

.sub-titlewrap{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: black;
}

.textwrap{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: black;
}

/* TEAM*/

.team{
    width: 100%;
    height: 712px;
    margin: 0 auto;
    background: url(../images/team.jpg) center no-repeat;

}

.header-team{
    text-align: center;
}

.team-title{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    padding-top: 50px;
}

.team-subtitle{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.team-subtitle::after{
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color:#fff;
    margin: 20px auto;
}

.items-team{
    width: 960px;
    height: 390px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item1,.item2,.item3,.item4{
    width: 222px;
    height: 310px;
    border: 1px solid #fff;
    transition: border-color 0.3s linear;
} 

.name{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    text-align: center;
    transition: color 0.3s linear;
}

.item1:hover,.item2:hover,.item3:hover,.item4:hover,.name:hover{
    border-color:#00e0d0;
    color: #00e0d0;
}

.position{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    text-align: center;
}

.expertise-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* WORKS */

.works{
    margin: 0 auto;
    height: 100%;
    max-height: 740px;
}

.header-works{
    width: 100%;
    max-width: 960px;
    height: 158px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.name-work{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #413d4b;
}

.a-project{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #413d4b;
}

.main-works{
    margin: 0 auto;
    height: 100%;
    max-height: 400px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainworks-top,.mainworks-bottom{
    height: 100%;
    max-height: 200px;
    display: flex;
    justify-content: center;
}

.img-works{
    width: 100%;
    height: 100%;
    max-height: 200px;
}

.footer-works{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TESTIMONIALS */

.testimonials{
    height: 500px;
    width: 100%;
    margin: 0 auto;
    background: url(../images/Testimonials.jpg) center no-repeat;
}

.suptext{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 100px;
    color: #fff;
    text-align: center;

    width: 100%;
    height: 100px;
}

.text-testimonials{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-align: center;

    height: 100px;
    width: 780px;
    margin: 30px auto;
}

.name-text-testimonials{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    text-align: center;

    margin: 5px auto;

}

.position-testimonials{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.nav-testimonials{
    width: 100%;
    max-width: 390px;
    height: 100%;
    max-height: 70px;
    margin: 45px auto 70px auto;
}

.nav-testimonials-items{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-left{
    color: #fff;
}

/* CONTACT */

.contact{
    height: 650px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.contact-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-1,.contact-2{
    height: 650px;
    width: 480px;
}

.contact-2{
    padding-left: 80px;
}

.text-contact{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #413d4b;
    margin: 70px auto 35px;
}

.name-input,.email-input,.subject-input{
    background: #fff;
    width: 460px;
    height: 45px;
    margin-bottom: 23px;
    border: 1px solid #acabb1;

    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #acabb1;
    padding: 22px 20px;
}

.u-massage-input{
    background: #fff;
    width: 460px;
    height: 200px;
    margin-bottom: 23px;
    border: 1px solid #acabb1;

    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    vertical-align: top;
    color: #acabb1;
    padding: 23px 344px 165px 20px;
}

.div-btn-contact{
    margin: 0 auto;
}

.btm-contact{
    display: inline-block;
    border: 1px solid #00e0d0;
    padding: 13px 33px;
    background: #fff;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00e0d0;
    cursor: pointer;
    transition: border-color 0.3s linear, color 0.3s linear;
}

.btm-contact:hover{
    color: #000;
    border-color: #000;
}

.client{
    width: 100%;
    max-width: 380px;
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client-1,.client-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* FOOTER */


.footer{
    width: 100%;
    height: 400px;
    background: url(../images/footer.jpg) center no-repeat;
    margin: 0 auto;
}

.ft-container{
    width: 100%;
    max-width: 940px;
    height: 400px;
    margin: 0 auto;
    padding: 70px 0 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ft-1,.ft-2,.ft-3{
    width: 100%;
    max-width: 300px;
    height: 180px;
    margin: 0 20px 0 0;
}

.logo-ft-cnt{
    width: 100%;
    max-width: 300px;
    height: 52px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-logo-ft-cnt{
    margin-right: 10px;
}

.text-ft-1{
    width: 100%;
    max-width: 300px;
    height: 110px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
}

.bottom-ft-1{
    width: 100%;
    max-width: 300px;
    height: 80px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.a-bottom-ft-1{
    color: #fff;
    transition: color 0.3s linear;
}

.a-bottom-ft-1:hover{
    color: #00e0d0;
}

.titlet-ft-2{
    width: 100%;
    max-width: 300px;
    height: 52px;
    margin-bottom: 20px;
    padding: 20px 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
}

.href-adress1{
    width: 100%;
    max-width: 310px;
    height: 70px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.img-adress{
    width: 100%;
    max-width: 14px;
    height: 19px;
    margin-right: 15px;
}

.text-ft-2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    transition: color 0.3s linear;
}

.text-ft-2:hover{
    color: #00e0d0;
}

.href-adress2{
    width: 100%;
    max-width: 160px;
    height: 37px;
    display: flex;
    justify-content: space-between;
}

a[href^="tel"] {
    color: white;
    text-decoration: none;
}

.img-phone{
    width: 100%;
    max-width: 17px;
    height: 17px;
    margin-right: 15px;
}

.form-sb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.input-sb{
    background: transparent;
    border: 1px solid #fff;

    width: 210px;
    height: 45px;
    margin-right: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: white;
    padding: 16px;
    
}

.btm-post{
    width: 100%;
    max-width: 70px;
    height: 45px;
    background: #fff;
    opacity: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: none;
    cursor: pointer;
}

.img-post{
    width: 27px;
    height: 27px;
    margin: 0 auto;
}


.social-logo{
    width: 100%;
    max-width: 290px;
    height: 36px;
    display: flex;
    justify-content: space-around;
}

.border-social-logo{
    width: 35px;
    height: 35px;
    border: 1px  solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-social{
    padding: 10px;
}

.Bottom-Copyright{
    width: 100%;
    max-width: 230px;
    height: 15px;
    margin: 55px 0px 55px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}